<div class="container"><h1 class="text-center">من نحن</h1>
<hr>
<h3 style="width: 100%;text-align: center;padding: 10px;">تأسست مدارس المستقبل الذهبي في مدينة الرياض عام ٢٠١٦ بمبادرة  لبناء مدارس متطوّرة لطلاب وطالبات المراحل التعليمية من الروضة وحتى الثانوية* تُعنى بتوفير ونقل المهارات والمعارف التي يحتاجها الجيل القادم حتى يتمكنوا من قيادة المستقبل.
    نوفر في مدارس المستقبل الذهبي بيئة تعليمية شاملة ومُتكاملة تقدّم فيها مناهج مُبتكرة تم تصميمها لتلبّي احتياجات كل طالب وطالبة. نتبّع في أسلوبنا التعليمي فلسفة «التعلّم عالي الأداء»، إيمانًا منا بأن جميع طلبتنا قادرين على امتلاك مقومات ومهارات النجاح الأكاديمي والاجتماعي. 
    نطمح بأن ينضم طلبتنا لأفضل الجامعات المحلية والعالمية، ونفخر برعايتنا وتشجيعنا للطلبة المُبتكرين المُبدعين لتقديم المُبادراتٍ النافعة للعالم.
</h3>
<div class="text-center" style="padding: 5px;">
<img src="./assets/images/4.jpg" style="width: 50%;"/>
</div>
</div>