<div class="container"><h1 class="text-center">الرسوم</h1>
    <hr>

    <div class="text-center" style="padding: 5px;">
        <table class="table table-bordered table-danger" style="direction: rtl;">
            <tr class="bg-warning">
                <th>المرحلة الدراسية</th>
                <th>الرسوم</th>
            </tr>
            <tr>
                <td>مرحلة الروضة</td>
                <td class="text-success">10 آلاف ريال سعودي</td>
            </tr>
            <tr>
                <td>المرحلة الإبتدائية</td>
                <td class="text-success">16 آلاف ريال سعودي</td>
            </tr>
            <tr>
                <td>المرحلة المتوسطة</td>
                <td class="text-success">19 آلاف ريال سعودي</td>
            </tr>
            <tr>
                <td>المرحلة الثانوية</td>
                <td class="text-success">22 آلاف ريال سعودي</td>
            </tr>
            
        </table>    
    </div>


    <h3 style="width: 75%;padding: 10px;margin: 0px auto;">
        <span class="text-danger">تشمل الرسوم الدراسية في مدارس المستقبل الذهبي ما يلي:</span><br>
- الأقساط المدرسية<br>
- الكتب والقرطاسية<br>
- الكمبيوتر المحمول<br>
- الآلات الموسيقية<br>
- الزي المُوحّد<br>
- وجبات الغداء ووجبات خفيفة صحّية<br>
- الزي الرياضي والمعدات الرياضية<br>
- الرحلات الترفيهية والميدانية داخل المملكة العربية السعودية<br>
- الأنشطة المرافقة للمنهج الاعتيادية وأنشطة ما بعد المدرسة - داخل وخارج الحرم المدرسي<br>
    </h3>
    


    
    </div>