
<hr>
<div style="display: flex;justify-content: space-around;width: 100%;">
    <div style="width: 50%;">
        <h1 class="px-3 py-3" style="background-color: #ec8c0b !important;color: white;">أهمية مرحلة الروضة والتمهيدي</h1>
        <h5 class="px-3" style="color:#ec8c0b ;text-align: justify;line-height: 30px;">
            نتميّز ببرامجنا التي تغطّي جميع النّواحي المعرفيّة والإدراكيّة والانفعاليّة والاجتماعيّة والحسيّة والحركيّة لدى الطّفل وذلك عن طريق توظيف الكوادر والكفاءات المدربة والمؤهلة بحيث ينشأ الطّفل في بيئتنا معتمدًا على نفسه وواثقًا من رأيه وقياديًا في حياته. 
<br><span style="color: grey;">تضم 3 مراحل:</span><br>
 - مرحلة ما قبل الروضة (PreKG) <br>
- مرحلة البستان (KG1) <br>
- مرحلة التمهيدي (KG2)<br>
        </h5>
    </div>
    <div style="width: 50%;">
        <img src="./assets/images/21.jpg" style="width: 100%;"/>
    </div>
</div>
