<div class="container"><h1 class="text-center">المسارات والأنشطة</h1>
    <hr>
    <h3 style="width: 100%;text-align: center;padding: 10px;">
        يعدّ التعليم في مدارس المستقبل الذهبي شمولياً يتعدّى مجرد اكتساب المعرفة.
 فعلاوةً على الجدول الأكاديمي المُعد بعنايةٍ فائقة، يُشارك طلبتنا في برنامج الأنشطة  الذي يقدم للطلبة مجموعةً من الخيارات  لتعزيز المهارات الحياتية والقيادة. 
الرحلات 
نادي الكتاب 
اللغة الانجليزية 
السباحة
    </h3>
    
    <div class="text-center" style="padding: 5px;">
        <div style="display: flex;justify-content: space-around;">
            <div style="height: 200px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/5.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">الرحلات</p></div>
            <div  style="height: 200px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/6.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">نادي الكتاب</p></div>
            
        </div>
        <div style="display: flex;justify-content: space-around;margin-top: 70px;">
            
            <div style="height: 200px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/7.jpg"/><p style="padding: 10px;background-color: #eee;font-weight: 700;">اللغة الإنجليزية</p></div>
            <div style="height: 200px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/8.jpg"/><p style="padding: 10px;background-color: #eee;font-weight: 700;">السباحة</p></div>
        </div>
    </div>
    </div>