
<hr>
<div style="display: flex;justify-content: space-around;width: 100%;">
    <div style="width: 50%;">
        <h1 class="px-3 py-3 alert alert-success">المرحلة المتوسطة</h1>
        <h5 class="px-3 text-success" style="text-align: justify;line-height: 35px;">
            يرتكز البرنامج التعليمي في المرحلة المتوسطة في مدرستنا على التطور الفكري للطالبة و الانجازات الأكاديمية الفعلية التي تحققها للتفكير بشكل خلاق ، و للتعبير عن أنفسهن بوضوح ، عن طريق الاستفسار وطرح الأسألة  والتخطيط بمهارة ، والتفكير  

            كما لا يتجاهل برنامجنا التعليمي الاحتياجات العاطفية والاجتماعية والإحتياجات الفزيائية للطالبة في هذه المرحلة. حيث يستجيب  البرنامج المدرسي لهذه الاحتياجات بشكل أساسي  ويؤمن تعليم شامل
        </h5>
    </div>
    <div style="width: 50%;text-align: center;">
        <img src="./assets/images/23.jpg" width="90%" style="box-shadow: 0pc 3px 30px #c9c9c9;"/>
    </div>
</div>

