

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Cairo-Regular.ttf');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
  }
  /* @font-face {
    font-family:cairo;
    src:url('../assets/fonts/Cairo-Regular.ttf');
} */

*{
    direction: rtl;
    font-family: Cairo !important;
}
  


#navbarNav > ul > li{
    color: #202e39;
    
    font-weight: 700;
    font-family: Cairo,sans-serif;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
}
#navbarNav > ul > li > a{
border-left: 1px solid #f0f0f0;
padding: 0.3em 1em !important;
}
#navbarNav > ul > li:nth-last-child(1)> a{
    border-left: unset;
}
.navbar-nav{
    justify-content: center !important;
    padding-left: 2rem !important;
}


.navbar-icon {
    color: #ffffff;
    font-family: Cairo,sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.571rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    vertical-align: top;
    background: linear-gradient(to right, #202e39 50%,#202e39 50%) no-repeat scroll right bottom / 210% 100% #202e39 !important;
    padding: 0.2em 1.2em !important;
    border-radius: 2.357rem;
    border: 2px solid #efa758;
}


.navbar-nav ul li {
    color: #202e39 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    font-family: Cairo,sans-serif !important;
    font-style: normal !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    letter-spacing: 0px !important;

}
#navbarNav > ul > li:focus > a,
#navbarNav > ul > li:hover > a{
    color:#eb8a0d;
}

.dropdown-menu {
    background: #f2f3f6;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border: 0;
    display: inherit;
    min-width: 9rem;
    margin-top: 20px;
    padding: 13px 0 10px 0;
    transition: all 0.3s;
    z-index: 9999;
}

.dropdown-toggle::after{
    margin-right: 0.35em !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #eb8a0d ;
}
/* *{
    direction: rtl;
}
.sticky-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    background: transparent;
    border-bottom: 1px solid rgba(128, 208, 199, 0.35);
    z-index: 9;
}

.navbar-brand, .navbar-brand:hover {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    display: block;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}


.navbar-brand span {
    font-family: var(--title-font-family);
}


.navbar-icon {
    color: #ffffff;
    font-family: Cairo,sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.571rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    vertical-align: top;
    background: linear-gradient(to right, #202e39 50%,#202e39 50%) no-repeat scroll right bottom / 210% 100% #202e39 !important;
    padding: 0.8em 1.6em !important;
    border-radius: 2.357rem;
}


ul li {
    color: #202e39;
    font-size: 14px;
    font-weight: 700;
    font-family: Cairo,sans-serif;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
}


.navbar-expand-lg .navbar-nav .nav-link {
    
    margin: 5px;
    padding: 5px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #202e39;
}



.navbar-icon:before {
    content: '';
    position: absolute;
    border: #ebc32c solid 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top,right,bottom,left;
    transition-property: top,right,bottom,left;
    -webkit-border-radius: 2.786rem;
    -ms-border-radius: 2.786rem;
    border-radius: 2.786rem;
}

.navbar-icon:hover:before{
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
} */