
<hr>
<div style="display: flex;justify-content: space-around;width: 100%;">
    <div style="width: 50%;">
        <h1 class="px-3 py-3 alert alert-info">المرحلة الثانوية</h1>
        <h5 class="px-3 text-info" style="text-align: justify;line-height: 35px;">
            تعد المرحلة الثانوية واحدة من أهم المراحل الدراسية، التي نحرص على ديمومة  
تطويرها، وتحسينها المستمر.<br>
مسارات المرحلة الثانوية:<br>
- المسار العلمي<br>
- المسار الادبي<br>
- المسار الشرعي
        </h5>
    </div>
    <div style="width: 50%;text-align: center;">
        <img src="./assets/images/24.jpg" width="90%" style="box-shadow: 0pc 3px 30px #c9c9c9;"/>
    </div>
</div>

