
<div class="container"><h1 class="text-center">التجهيزات والمرافق</h1>
    <hr>
    <h3 style="width: 100%;text-align: center;padding: 10px;">
        غرف صفية مجهزة بأثاث مريح وآمن ومساحات مناسبة.

        الواح تفاعلية مبرمجة يتم التعامل معها باللمس للنهوض بالعملية التعليمية واثراءها. 
        
        مكتبة متميزة تضم كتب تلائم كافة الاعمار وكافة المجالات. 
        
        مختبر حاسوب لتنشئة جيل قادر على التّفاعل مع مستجدات العصر والتكنولوجيا. 
        
        مختبرات العلوم توفر جميع الأدوات والأجهزة التي تتطلبها المناهج لاجراء التجارب العلمية. 
        ملاعب عشبية لتطبيق الانشطة الرياضية
    </h3>
    
    <div class="text-center" style="padding: 5px;">
        <div style="display: flex;justify-content: space-around;">
            <div style="height: 300px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/18.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">قاعة حواسيب</p></div>
            <div  style="height: 300px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/20.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">مخبر</p></div>
            
        </div>
        <div style="display: flex;justify-content: space-around;margin-top: 70px;">
            
            <div style="height: 450px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/9.jpg"/><p style="padding: 10px;background-color: #eee;font-weight: 700;">غرف صفّية</p></div>
            <div style="height: 450px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/16.jpg"/><p style="padding: 10px;background-color: #eee;font-weight: 700;">الروضة</p></div>
        </div>
        <div style="display: flex;justify-content: space-around;margin-top: 70px;">
            <div style="height: 300px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/17.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">قاعة المطالعة</p></div>
            <div  style="height: 300px;width: 45%;"><img style="width: 100%;height: 100%;" src="./assets/images/19.jpg" /><p style="padding: 10px;background-color: #eee;font-weight: 700;">قاعة العلوم</p></div>
            
        </div>
    </div>
    </div>